*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body, main, #img-div, footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  background-color: white;
  max-width: 100vw;
  width: 100%;
  margin: 0;
}

main{
  background: #eee;
  color: #333;
  margin: 2rem 10px 2rem 10px;
  border-radius: 5px;
  overflow: hidden;
  max-width: 100vw;
  width: 97%;
}

h1{
  font-size: 2.5rem;
  margin-bottom: 1.2rem;
  margin-top: 3rem;
}

p{
  margin-bottom: 1.5rem;
}

#image{
  margin: 1rem 0 0 0;
  max-width: 100%;
}

#tribute-info{
  padding: 1rem 2rem;
}

#img-div{
  background-color: white;
  justify-content: center;
  margin-bottom: 1.5rem;
  width: 98%;
  overflow: hidden;
}

span, .link{
  font-weight: bold;
}

.quote, .quote-name{
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-size: 0.8rem;
  font-weight: lighter;
  letter-spacing: 1px;
}

h2{
  font-size: 1rem;
  margin: 2rem 0px;
}
li{
  font-size: 0.8rem;
}

ul, .quote, .quote-name{
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 34vw;
  width: 100%;
}

li, .quote, .quote-name{
  margin: 1.5rem 0 1.5rem 0;
}

.link{
  margin: 2rem 0 2rem 0;
}

a, footer,#img-caption{
  color: #477ca7;
}

#img-caption, footer{
  padding: 10px;
}

footer{
  font-size: 0.9rem;
  margin: 0.2rem;
}
