*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    background-color: white;
    max-width: 100vw;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  main{
    background: #eee;
    color: #333;
    margin: 2rem 10px 2rem 10px;
    border-radius: 5px;
    overflow: hidden;
    max-width: 100vw;
    width: 97%;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1{
    font-size: 2.5rem;
    margin-bottom: 1.2rem;
    margin-top: 3rem;
  }
  
  p{
    margin-bottom: 1.5rem;
  }
  
  #image{
    margin: 1rem 0 0 0;
  }
  
  #tribute-info{
    padding: 1rem 2rem;
  }
  
  #img-div{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    width: 98%;
    overflow: hidden;
  }
  
  span, footer{
    font-weight: bold;
  }
  
  .quote, .quote-name{
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-size: 0.8rem;
    font-weight: lighter;
    letter-spacing: 1px;
  }
  
  h2{
    font-size: 1rem;
    margin: 2rem 0px;
  }
  
  ul, .quote, .quote-name{
    padding-left: 30rem;
    padding-right: 28rem;
  }
  
  li, .quote, .quote-name{
    margin: 1.5rem 0 1.5rem 0;
  }
  
  footer{
    margin: 2rem 0 2rem 0;
  }
  
  a{
    color: #477ca7;
  }